@use "./colors" as colors;

//Bustider
#bustider {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border: 3px solid colors.$color-yellow;
    border-radius: 5px;

    legend {
        text-align: center;
        color: colors.$color-yellow;
        padding: 0 1rem;
        font-size: 1.5rem;
    }
}
