$color-green: #005543;
$color-diarrhea-yellow: #e8e305;
$color-yellow: #fdf251;
$color-white: #ffffff;
$color-black: #000000;

//Bustider
#bustider {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border: 3px solid $color-yellow;
    border-radius: 5px;

    legend {
        text-align: center;
        color: $color-yellow;
        padding: 0 1rem;
        font-size: 1.5rem;
    }
}
