$color-green: #005543;
$color-diarrhea-yellow: #e8e305;
$color-yellow: #fdf251;
$color-white: #ffffff;
$color-black: #000000;

//CLOCK
fieldset{
    border: 2px solid var(--color-yellow);
    border-radius: 15px;
    color: #fff;
    padding: 10px;
    margin: 10px;
    width: 360px;
    legend{
text-align: center;    }

#clock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    color: #fff;
    
}
h1{
    color: var(--color-white);
    font-size: 8vw;
}
h3{
    color: var(--color-yellow);
    font-size: 0.5rem;
    font-weight: 300;
}
}
