@use "./colors" as colors;

#skema {
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    border: 3px solid colors.$color-yellow;
    border-radius: 5px;

    legend {
        text-align: center;
        color: colors.$color-yellow;
        padding: 0 1rem;
        font-size: 1.5rem;
    }

    #skema-container {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
        background-color: colors.$color-green;
        border-radius: 5px;
        padding: 20px;

        h1 {
            font-size: 3.2rem;
            color: colors.$color-white;
            text-align: center;
        }

        table {
            width: 100%;
            border-spacing: 0 10px;

            tbody {
                &:first-child {
                    tr {
                        background-color: transparent;
                    }
                }
                tr {
                    border: none;
                    background-color: colors.$color-white;
                    overflow: hidden;
                    border-radius: 5px;

                    th {
                        border: none;
                        color: colors.$color-white;
                        font-size: 1.2rem;
                        font-weight: 300;
                        text-align: start;
                    }

                    td {
                        border: none;
                        color: colors.$color-black;
                        font-size: 1.2rem;
                        font-weight: 600;
                        &:first-child {
                            border-radius: 2px 0 0 2px;
                        }
                        &:last-child {
                            border-radius: 0 2px 2px 0;
                        }
                    }
                }
            }
        }
    }
}
